$ass-color:red;
.square{
    width: 200px;
    height: 200px;
    background-color: $ass-color;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid $ass-color;
}
h1{
    color: $ass-color;
}